---
import Anchor from "../anchor.astro";
---

<div class="py-8 bg-white border-b-[1px]">
  <div class="max-w-7xl w-full px-8 mx-auto flex flex-row justify-between">
    <a href="/" class="text-3xl font-medium">Pathway</a>

    <nav class="space-x-2">
      <Anchor href="/" size="sm" variant="underline">Home</Anchor>
      <Anchor href="/game" size="sm" variant="underline">Play</Anchor>
    </nav>
  </div>
</div>
