---
import Layout from "../layouts/base-layout.astro";
import PlayButton from "../lib/play-button";
---

<Layout title="Welcome to Astro.">
  <main class="py-8 flex flex-col">
    <div class="mx-auto max-w-xl space-y-8">
      <header class="space-y-4">
        <h1 class="font-black text-5xl">Welcome to Pathway</h1>

        <p class="text-xl">
          Become the master of strategy outmaneuvering your opponents building
          sequences!
        </p>
      </header>

      <div>
        <PlayButton title="Let's Play" client:load />
      </div>
    </div>
  </main>
</Layout>
