---
import Layout from "../layouts/base-layout.astro";
---

<Layout title="Welcome to Pathway">
  <main class="py-8 flex flex-col">
    <div class="mx-auto max-w-xl space-y-8">
      <header class="space-y-4">
        <h1 class="font-black text-5xl">Welcome to Pathway</h1>

        <p class="text-xl">
          Become the master of strategy outmaneuvering your opponents building
          sequences!
        </p>
      </header>

      <div>
        <a class="text-xl bg-black px-4 py-2 text-white" href="/game">
          Let's Play
        </a>
      </div>
    </div>
  </main>
</Layout>
