---
import Anchor from "../components/anchor.astro";
import Layout from "../layouts/base-layout.astro";
---

<Layout title="Welcome to Pathway">
  <main class="py-8 flex flex-col">
    <div class="max-w-7xl w-full px-8 mx-auto space-y-8">
      <header class="space-y-4">
        <h1 class="font-black text-5xl">Welcome to Pathway</h1>

        <p class="text-xl">
          Become the master of strategy outmaneuvering your opponents building
          sequences!
        </p>
      </header>

      <div>
        <Anchor href="/game">Let's Play</Anchor>
      </div>
    </div>
  </main>
</Layout>
