---
import Lobby from "../../features/lobby/lobby.tsx";
import Layout from "../../layouts/base-layout.astro";
---

<Layout title={"Lobby | Pathway"}>
  <main class="py-8 flex flex-col">
    <div class="max-w-7xl w-full px-8 mx-auto">
      <Lobby client:load />
    </div>
  </main>
</Layout>
