---
import Lobby from "../../lobby/lobby.tsx";
import Layout from "../../layouts/base-layout.astro";
---

<Layout title={"Lobby | Pathway"}>
  <main class="py-8 flex flex-col">
    <div class="px-4 w-full max-w-2xl mx-auto">
      <header class="mb-4">
        <h1 class="font-black text-5xl">Pathway Lobby</h1>
      </header>

      <Lobby client:load />
    </div>
  </main>
</Layout>
