<footer class="bg-white py-8">
  <div class="max-w-7xl w-full px-8 mx-auto">
    <p>© 2020 - 2021</p>
    <p>
      Created by <a
        href="https://rowinbot.com>"
        target="_blank"
        rel="noopener noreferer">@rowinbot</a
      >
    </p>
  </div>
</footer>
